<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<head th:replace="layout/layout :: head"></head>
	
	<body>
		<header th:replace="layout/layout :: header"></header>
		<br/><br/>
			<div class="panel-body" style="height: 80%">
				<div class="row justify-content-md-center">
					<form class="col-md-5 form-horizontal" th:action="@{/departamento/insertar}" th:object="${departament}" method="post">
						<div class="col-md-12">

							<div class="row form-group">
								<label class="col-md-3 control-label" for="depart">Departamento</label>  							
								<input th:field="*{Nombre}"  type="text" class="col-md-8 form-control input-md" required autofocus>			
							</div>	
							<div class="form-group row">
								<div class="col-md-2"></div>
								<div class="col-md-4">
									<a th:href="@{/departamento/All/}">
										<button name="atras" class="btn btn-lg btn-primary btn-block"
											type="button">Atras</button>
									</a>
								</div>
								<div class="col-md-4">
									<button name="save" class="btn btn-lg btn-primary btn-block"
										type="submit">Guardar</button>
								</div>
								<div class="col-md-2"></div>
							</div>
							<br>
						
						</div>
					</form>
			</div>
		</div>
	</div>

		<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>