<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="panel panel-default">
		<br> <br>
		<div class="panel-body">
			<div class="row justify-content-md-center">
				<div class="col-lg-8">
					<form class="form-horizontal" th:action="@{/claseEstado/insertar}"
						th:object="${ClaseEstado}" method="post">

						<fieldset>

							<legend align="center">Registro de ClaseEstado</legend>

							<br>

							<div class="row">
								<div class="col col-md-3"></div>
								<div class="col col-md-2">
									<label class="col-md-4 control-label" for="name">Nombres</label>
								</div>
								<div class="col-md-4">
									<input th:field="*{nombre}" type="text"
										class="form-control input-md" required autofocus>
								</div>
							</div>

							<br>


							<div class="form-group row">
								<div class="col-md-2"></div>
								<div class="col-md-4">
									<a th:href="@{/claseEstado/All/}">
										<button name="atras" class="btn btn-lg btn-primary btn-block"
											type="button">Atras</button>
									</a>
								</div>
								<div class="col-md-4">
									<button name="save" class="btn btn-lg btn-primary btn-block"
										type="submit">Guardar</button>
								</div>
								<div class="col-md-2"></div>
							</div>

						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>